* {
  box-sizing: border-box;
}

html,
body,
div,
span,
p,
a,
img,
ol,
ul,
li,
form,
label,
table,
tr,
th,
td,
footer,
header,
nav,
aside,
main,
title,
article,
iframe,
section,
figure {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
main {
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

/* HTML5 display-role reset for older browsers */
body {
  line-height: 1;
}
ol,
ul,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input {
  border: none;
}
input:focus {
  outline: none;
}
button {
  border: 0 none;
  background: none;
  padding: 0;
  cursor: pointer;
}
