@import url('../../css/style.css');

.main-page {
  display: flex;
  flex-direction: column;
  row-gap: 8rem;

  h2 {
    font-family: 'IBM Plex Sans KR', sans-serif;
    line-height: 125%;
  }
  p {
    font-family: 'IBM Plex Sans KR', sans-serif;
    line-height: 160%;
  }

  button {
    font-family: 'IBM Plex Sans KR', sans-serif;
  }

  .button-wrapper {
    margin: 0 auto;
    padding: 0 0.313rem;

    > button {
      margin: 0 auto;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-tmb {
  background-image: url(images/tmb/tmb-background1.png);
  animation: fade-tmb 8.5s infinite;
}
.slider-nike {
  background-image: url(images/nike/nike-background1.png);
  animation: fade-nike 8.5s infinite;
}
.slider-glowny {
  background-image: url(images/glowny/glowny-background1.jpg);
  animation: fade-glowny 8.5s infinite;
}

@keyframes fade-tmb {
  0% {
    background-image: url(images/tmb/tmb-background1.png);
  }
  33.33% {
    background-image: url(images/tmb/tmb-background2.png);
  }
  66.66% {
    background-image: url(images/tmb/tmb-background3.png);
  }
  100% {
    background-image: url(images/tmb/tmb-background1.png);
  }
}
@keyframes fade-nike {
  0% {
    background-image: url(images/nike/nike-background1.png);
  }
  33.33% {
    background-image: url(images/nike/nike-background2.png);
  }
  66.66% {
    background-image: url(images/nike/nike-background3.png);
  }
  100% {
    background-image: url(images/nike/nike-background1.png);
  }
}
@keyframes fade-glowny {
  0% {
    background-image: url(images/glowny/glowny-background1.jpg);
  }
  33.33% {
    background-image: url(images/glowny/glowny-background2.jpg);
  }
  66.66% {
    background-image: url(images/glowny/glowny-background3.jpg);
  }
  100% {
    background-image: url(images/glowny/glowny-background1.jpg);
  }
}

.logo {
  font-weight: 400;
  font-size: 2rem;
  color: white;
}
.logo-tmb {
  font-family: 'Baskervville', serif;
  letter-spacing: 1em;
}
.logo-nike {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 5rem;
}
.logo-glowny {
  font-family: 'Open Sans', sans-serif;
  font-variation-settings: 'wdth' 100;
  font-weight: 700;
  letter-spacing: 1em;
  font-size: 2.5rem;
}

.fashion-main-article {
  padding: 0 7rem;

  > h1 {
    font-size: 4rem;
    margin-bottom: 3rem;
  }
}

.fashion-about {
  display: flex;
  justify-content: space-between;
  column-gap: 5rem;

  > p {
    width: 30rem;
  }
}

.fashion-magazine {
  display: flex;
  width: 100%;
  column-gap: 3%;

  > li {
    width: 40rem;
    height: 35rem;
    border-radius: 20px;

    > img {
      object-fit: cover;
    }
  }

  .fashion-magazine-list-1 {
    padding: 2rem;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    .fashion-magazine-list-1-section {
      display: flex;
      height: 100%;

      .fashion-magazine-list-1-article {
        line-height: 160%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        > p {
          padding-bottom: 1rem;
        }
      }

      button {
        background-color: black;
        color: white;

        > svg {
          fill: white;
        }
      }
    }

    > img {
      width: 100%;
      height: 65%;
      border-radius: 10px;
    }
  }

  .fashion-magazine-list-2 {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > p {
      padding-top: 3rem;
      padding-bottom: 0.3rem;
      font-size: 0.8rem;
    }

    > button {
      margin-top: 3rem;
      background-color: black;
      color: white;
      padding: 10px 20px;
      border-radius: 50px;
    }
  }
  .fashion-magazine-list-2-tmb {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(36, 36, 36, 0.5) 35%, rgba(204, 204, 204, 0.6) 100%),
      url(images/tmb/tmb-magazine-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .fashion-magazine-list-2-nike {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(36, 36, 36, 0.5) 35%, rgba(204, 204, 204, 0.6) 100%),
      url(images/nike/nike-magazine-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .fashion-magazine-list-2-glowny {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(36, 36, 36, 0.5) 35%, rgba(204, 204, 204, 0.6) 100%),
      url(images/glowny/glowny-magazine-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .fashion-magazine-list-3 {
    background-color: black;

    > img {
      max-width: 100%;
      height: 75%;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }

    .fashion-magazine-list-3-article {
      display: flex;
      column-gap: 1rem;
      padding: 2rem;

      color: white;

      button {
        background-color: white;
      }
    }
  }
}

.fashion-main-store {
  display: flex;

  background-color: black;
  height: 25rem;
  color: white;

  .fashion-main-store-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 7rem;
    width: 60%;

    > a {
      margin-top: 3rem;
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-size: 2.5rem;
      font-weight: 700;
      width: 100%;
    }
  }

  > img {
    width: 40%;
    object-fit: cover;
  }
}

.fashion-wishlist {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  > div {
    display: flex;
    gap: 1rem;
    > section {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      height: 100%;

      .fashion-wishlist-item {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
      }
    }
  }

  .fashion-wishlist-top {
    height: 43rem;

    > section {
      width: calc(100% / 3);

      .fashion-wishlist-top-1 {
        height: calc((100% - 1rem) * (2 / 5));
      }
      .fashion-wishlist-top-4 {
        height: calc((100% - 1rem) * (3 / 5));
      }
      .fashion-wishlist-top-2 {
        height: 100%;
      }
      .fashion-wishlist-top-3 {
        height: calc((100% - 1rem) * (3 / 5));
      }
      .fashion-wishlist-top-5 {
        height: calc((100% - 1rem) * (2 / 5));
      }
    }
  }

  .fashion-wishlist-bottom {
    height: 40rem;

    > section {
      width: calc(100% / 2);
    }
    .fashion-wishlist-bottom-right {
      display: flex;

      .fashion-wishlist-bottom-2 {
        height: calc(100% * (2 / 5));
      }

      .fashion-wishlist-bottom-right-bottom {
        /* width: 100%; */
        height: calc(100% * (3 / 5));
        display: flex;
        column-gap: 1rem;

        .fashion-wishlist-item {
          height: calc(100% - 1rem);
          width: calc(100% / 2);
        }
      }
    }
  }
}

.productList {
  img {
    width: 500px;
    cursor: pointer;
  }
}

footer {
  margin-top: 10rem;
  display: flex;
  padding: 5rem 7rem;
  padding-bottom: 10rem;
  justify-content: space-between;
  column-gap: 5rem;
  background-color: black;
  color: white;

  > h1 {
    font-size: 4rem;
  }

  #footer-text {
    display: flex;
    column-gap: 5rem;
    justify-content: space-evenly;

    > p {
      line-height: 170%;
      font-family: 'IBM Plex Sans KR', sans-serif;
    }
  }
}
