@import url('../../css/style.css');

p {
  font-family: 'IBM Plex Sans KR', sans-serif;
  line-height: 160%;
}

#about-me-page {
  padding: 0 7rem;
}

#about-me-page-article-top {
  position: relative;
  display: flex;
  column-gap: 10rem;
  margin-top: 5rem;

  > h1 {
    position: absolute;
    font-size: 8rem;
    top: 5rem;
    left: 30%;
    z-index: 1;
  }

  > img {
    width: 45%;
    height: 80vh;
    object-fit: cover;
    border-radius: 20px;
    opacity: 0.9;
  }

  .about-me-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 17rem;

    #line {
      background-color: black;
      width: 5rem;
      height: 0.8rem;
      margin-left: auto;
      margin-right: 0;
    }
  }

  .induce-scroll {
    position: absolute;
    left: 50%;
    bottom: -2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    text-align: center;
    color: rgb(0, 0, 0, 0.7);
    .induce-scroll-icon {
      animation: scroll 2s ease-out 0s infinite;
    }
    .scroll-icon-1 {
      margin-bottom: -1rem;
    }
    .scroll-icon-2 {
      margin-bottom: 1.6rem;
    }
  }
}
@keyframes scroll {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: translateY(15px);
  }
  100% {
    opacity: 0;
    transform: translateY(30px);
  }
}

#about-me-page-article-bottom {
  margin-top: 8rem;
  display: grid;
  height: 55rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10rem;

  header {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: 3rem;

    .dot {
      width: 1.3rem;
      height: 1.3rem;
      background-color: black;
    }

    h1 {
      font-size: 3rem;
    }
  }

  .about-me-page-bottom-hobby {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    .bottom-p {
      margin-top: 3rem;
    }
  }

  .about-me-page-bottom-tech {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    table {
      width: 100%;
      table-layout: fixed;
    }
    td {
      height: 5rem;
      display: table-cell;
      vertical-align: top;
      text-align: center;
    }
  }

  .about-me-page-bottom-contact {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-top: -2rem;
  }
}

footer {
  bottom: 10px;
  width: 100%;
  display: flex;
  padding: 5rem 7rem;
  padding-bottom: 10rem;
  justify-content: space-between;
  column-gap: 5rem;
  background-color: black;
  color: white;

  > h1 {
    font-size: 4rem;
  }

  #footer-text {
    display: flex;
    column-gap: 5rem;
    justify-content: space-evenly;
  }
}
