.slider-tmb {
  background-image: url(../images/tmb/tmb-background1.png);
  animation: fade-tmb 8.5s infinite;
}
@keyframes fade-tmb {
  0% {
    background-image: url(../images/tmb/tmb-background1.png);
  }
  33.33% {
    background-image: url(../images/tmb/tmb-background2.png);
  }
  66.66% {
    background-image: url(../images/tmb/tmb-background3.png);
  }
  100% {
    background-image: url(../images/tmb/tmb-background1.png);
  }
}

.fashion-magazine-list-2-tmb {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(36, 36, 36, 0.5) 35%,
      rgba(204, 204, 204, 0.6) 100%
    ),
    url(images/tmb/tmb-magazine-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* magazine deatil page */
.brand-name-tmb {
  font-family: 'Baskervville', serif;
  letter-spacing: 1em;
}

.tmb-detail-page-1 {
  .background-image-wrapper-tmb {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(223, 223, 223, 0.5) 50%,
        rgba(255, 255, 255, 1) 100%
      ),
      url(../images/tmb/tmb-magazine-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.tmb-detail-page-3 {
  .background-image-wrapper-tmb {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(223, 223, 223, 0.5) 50%,
        rgba(255, 255, 255, 1) 100%
      ),
      url(../images/tmb/tmb-magazine-3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.article-tmb-img-rotate {
  transform: rotate(180deg);
}
