.slider-glowny {
  background-image: url(../images/glowny/glowny-background1.jpg);
  animation: fade-glowny 8.5s infinite;
}

@keyframes fade-glowny {
  0% {
    background-image: url(../images/glowny/glowny-background1.jpg);
  }
  33.33% {
    background-image: url(../images/glowny/glowny-background2.jpg);
  }
  66.66% {
    background-image: url(../images/glowny/glowny-background3.jpg);
  }
  100% {
    background-image: url(../images/glowny/glowny-background1.jpg);
  }
}

.fashion-magazine-list-2-glowny {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(36, 36, 36, 0.5) 35%,
      rgba(204, 204, 204, 0.6) 100%
    ),
    url(images/glowny/glowny-magazine-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* magazine deatil page */
.brand-name-glowny {
  font-family: 'Open Sans', sans-serif;
  font-variation-settings: 'wdth' 100;
  letter-spacing: 0.5em;
  font-weight: 800;
}

.glowny-detail-page-1 {
  .background-image-wrapper-glowny {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(223, 223, 223, 0.5) 50%,
        rgba(255, 255, 255, 1) 100%
      ),
      url(../images/glowny/glowny-magazine-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.glowny-detail-page-3 {
  .background-image-wrapper-glowny {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(223, 223, 223, 0.5) 50%,
        rgba(255, 255, 255, 1) 100%
      ),
      url(../images/glowny/glowny-magazine-3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
